html {
  color: white;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
  background-color: rgb(40, 40, 40);
}

body {
  margin: 0px;
  padding: 0px;
}

table, td {
  border: 1px black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td, tr {
  padding: 15px;
  width: 30%;
}

footer {
  padding: 20px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 1000;
  font-size: 3em;
  line-height: 100%;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* NAVIGATION BAR */
.nav {
  overflow: hidden;
  background-color: rgb(46, 46, 46);
  color: white;
  position: fixed;
  width: 100%;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
  padding: 0px 20px 0px 10px;
  float: left;
}

.linkedin {
  width: 20px;
  padding: 7px;
  float: left;
}

.linkedin:hover {
  background-color: rgb(70, 70, 70);
}

.right, .sep {
  font-family: 'Raleway', sans-serif;
  float: right;
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  padding: 5px 20px;
  margin: 0px;
}

.sep {
  padding: 4px 0px;
}

.right:hover {
  background-color: rgb(70, 70, 70);
}

/* PROFILE */
.top {
  padding-bottom: 20px;
  height: auto;
  width: auto;
  padding-top: 90px;
  line-height: 110%;
}

.profile, .project, .project2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  width: 18em;
}

.profiledesc {
  font-family: 'Raleway', fantasy;
  text-align: center;
  font-size: 1.6em;
}

/* ABOUT ME */
.about {
  background-color: rgb(40, 40, 40);
}

.aboutdesc {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px 20px;
  margin: 0;
  font-size: 1.3em;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

/* PROJECTS */
.projects {
  background-color: rgb(40, 40, 40);
}

.projectpic {
  width: 25em;
  float: right;
  padding-right: 15%;
}

.pname {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 40px;
}

.pdesc {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  list-style-type: square;
  float: left;
  padding-right: 40%;
}

.pname a:link, .pname a:visited {
  background-color: rgb(66, 66, 66);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.pname a:hover, .pname a:active {
  background-color: rgb(85, 85, 85);
}
